body{
	width: 80%;
	margin: 0;
	padding: 0;
}
#box{
	margin-left:10%;
	width: 80%;
	height: 400px;
	background: #ccc;
	position: relative;
}
ul{
	width: 200px;
	height: 350px;
	float: left;
	margin-left: 70px;
	/*padding-left: -70px;*/
	/*padding-left: 10px;*/
	list-style: none;
	border:solid 1px black;
	background: yellow;
	
}
li{
	list-style: none;
	margin-left: -40px;
	width: 240px;
	border-bottom: 1px solid black;
	background: red;
}